* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* centrar los elementos hijos en el eje X */
  justify-content: center;
  /* centrar los elementos hijos en el eje Y */
  align-items: center;
  height: 100vh;
  color: hsl(224, 23%, 55%);
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  font-family: "Red Hat Display", sans-serif;
}

h2,
h4 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

img {
  width: 100%;
}

article {
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
}

.content {
  padding: 20px;
  margin: 20px;
  margin-top: 0px;
}

.content h2,
.content .description {
  padding: 10px;
  text-align: center;
}

.content img {
  width: 45px;
}

.precio {
  background-color: #f8f9fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.precio a {
  font-weight: bold;
}

button {
  display: block;
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s scale;
}

.btn-payment {
  margin-bottom: 10px;
  background-color: #382ae1;
  color: white;
  font-weight: bold;
  box-shadow: 0px 10px 25px -5px hsl(223, 47%, 23%);
}

.btn-cancel {
  font-weight: bold;
  color: #7280a7;
}

button:hover {
  scale: 1.1;
}