* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* centrar los elementos hijos en el eje X */
  justify-content: center;
  /* centrar los elementos hijos en el eje Y */
  align-items: center;
  height: 100vh;
  background-color: #d6e1ff;
  font-family: "Red Hat Display", sans-serif;
}

img {
  width: 100%;
}

article {
  background-color: white;
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.content {
  padding: 20px;
}

.content h2,
.content .description {
  text-align: center;
}

.content img {
  width: 30px;
}

.precio {
  background-color: #f8f9fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.precio a {
  font-weight: bold;
}