* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* centrar los elementos hijos en el eje X */
  justify-content: center;
  /* centrar los elementos hijos en el eje Y */
  align-items: center;
  height: 100vh;
  background-color: #d6e1ff;
  font-family: "Red Hat Display", sans-serif;
}

img {
  width: 100%;
}

article {
  background-color: white;
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
}